<nav class="navbar navbar-default navbar-expand-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
        aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <li><a
            routerLink="/recipes"
            routerLinkActive="active"
            name="Recipes"
            class="navbar-link"
          >Recipes</a></li>
        <li><a
            routerLink="/shopping-list"
            routerLinkActive="active"
            name="ShoppingList"
            class="navbar-link"
          >Shopping List</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">Manage Data <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Save Data</a></li>
            <li><a>Fetch Data</a></li>
          </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">My Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="/auth">Login/SignUp</a>
            </li>
            <li>
              <a>My Profile</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
