/*  */

.img-holder {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  max-height: 400px;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
}

.img-placeholder {
  position: relative;
  border: 1px solid grey;
  border-radius: 0.5rem;
  background-image: url(http://127.0.0.1/public/images/img-placeholder.jpeg);
  background-position: center;
}

.edit.glyphicon-edit {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  bottom: 2%;
  right: 2%;
  top: auto;
  cursor: pointer;
  background-color: white;
  color: grey;
  display: block;
}

input[formControlName="imgPath"] {
  background-color: transparent !important;
}
