<form [formGroup]="recipeForm" (ngSubmit)="submitRecipe()">
  <!-- RECIPE IMAGE START -->
  <div class="row" formGroupName="recipeDetails">
    <div class="col-xs-12">
      <!-- <h2>{{pageName}}</h2> -->
      <!-- <img
        [src]="currentRecipe.imgPath" [alt]="currentRecipe.name" class="img-responsive"> -->

      <div
        class="img-holder"
        [ngClass]="recipeForm.get('recipeDetails.imgPath').value? '' : 'img-placeholder'"
        [ngStyle]="recipeForm.get('recipeDetails.imgPath').value? {'background-image':
        'url('+recipeForm.get('recipeDetails.imgPath').value+')'} : ''">
      <input
        type="text"
        name="imgPath"
        class="form-control"
        formControlName="imgPath"
        placeholder="Paste a link to your image here"
      >
    </div>
      <ng-template #noImage>
        <div class="img-placeholder"></div>
      </ng-template>
    </div>
  </div>
  <!-- RECIPE IMAGE END -->

  <!-- RECIPE NAME START -->
  <div class="row" formGroupName="recipeDetails">
    <div class="col-xs-12">
        <h1>
          <input
            type="text"
            name="recipeName"
            formControlName="recipeName"
            onfocus="this.select()">
        </h1>
        <p>
          <textarea
            style="width: 100%"
            onfocus="this.select()"
            name="recipeDescription"
            formControlName="recipeDescription"
          ></textarea>
        </p>
      </div>
  </div>
  <!-- RECIPE DESCRIPTION END -->

  <!-- INGREDIENTS LIST START -->
  <div class="row">
    <div class="col-xs-12">

      <ul class="list-group" formArrayName="ingredients">

        <li
          *ngFor="let ingredient of recipeForm.get('ingredients')?.value; let i = index"
          class="list-group-item" [formGroupName]="i">

          <div class="input-group">
            <!-- ingredient name input -->
            <input
            type="text"
            name="ingredientName"
            formControlName="ingredientName"
            class="form-control"
            onfocus="this.select()">

              <!-- text input separator -->
            <span class="input-group-btn" style="width:0px;"></span>

            <!-- ingredient amount input -->
            <input
              type="number"
              name="ingredientAmount"
              formControlName="ingredientAmount"
              class="form-control"
              >

            <!-- remove this ingredient -->
            <span
            style="cursor: pointer;"
            (click)="removeThisIngredient(i)"
            class="input-group-addon">x</span>
          </div>
        </li>

        <div
          class="btn-group pull-right clearfix"
          style="margin-bottom: 1em;">
          <!-- add new ingredient -->
          <button
            type="button"
            (click)="addNewIngredient()"
            class="btn btn-default pull-right clearfix"
          >+</button>
        </div>

      </ul>

    </div>
  </div>
  <!-- INGREDIENTS LIST END -->

  <!-- CONTROLS START -->
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group pull-right">

        <!-- SUBMIT BUTTON -->
        <button
          class="btn
          btn-primary"
          type="submit"
        >Submit</button>

        <!-- RESET BUTTON -->
        <button
          class="btn btn-default"
          type="button"
          (click)="resetForm()"
        >Reset</button>

        <button
          type="button"
          class="btn btn-secondary"
        >Cancel</button>

      </div>
    </div>
  </div>
  <!-- CONTROLS END -->
</form>
