<div class="row">
  <div class="col-xs-12">
    <!-- <img
      [src]="currentRecipe.imgPath" [alt]="currentRecipe.name" class="img-responsive"> -->
       <div class="img img-holder"
        [ngStyle]="{'background-image': imgStyle['background-image']}"
       ></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <!-- RECIPE NAME -->
    <h1 class="pull-left">{{currentRecipe.name}}</h1>
    <!-- CONTROLS BEGINNING -->
    <div class="btn-group pull-right" appDropdown>
      <button class="btn btn-primary dropdown-toggle" type="button">
        Manage <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            (click)="addCurrentIngredients()"
          >
            Add To Cart
          </a>
        </li>

        <li>
          <a
            routerLink="edit"
          >Edit Recipe</a>
        </li>

        <li>
          <a
          (click)="deleteRecipe()"
          >Delete Recipe</a>
        </li>
      </ul>
    </div>
    <!-- CONTROLS END -->
  </div>
</div>

<div class="row">
  <div class="col-xs-12"><p>{{currentRecipe.description}}</p></div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
      *ngFor="let ingredient of currentRecipe.ingredients"
      class="list-group-item"
      >
      <p>{{ ingredient.name }}, {{ingredient.amount}}</p>
    </li>
    </ul>
  </div>
</div>
