<a
  [routerLink]=[item.id]
  routerLinkActive='active'
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">
      {{ item.name }}
    </h4>
    <p class="list-group-item-text">{{ item.description }}</p>
  </div>
  <span class="pull-right">
    <!-- <img [alt]="item.name" class="img-responsive" style="max-height: 50px; max-width: 70px;" [src]="item.imgPath"> -->
    <div
      [ngStyle]="{'background-image': imgUrl}"
      class="img-responsive img-thumb">
  </div>
  </span>
</a>
