<div class="row">
  <div class="col-xs-12">
    <button
      routerLink="new"
      class="btn btn-success"
    >New Recipe</button>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-xs-12"
    *ngIf="recipeList.length; else noRecipes"
  >
    <app-recipe-item
    *ngFor="let recipe of recipeList"
    [item]="recipe"
    ></app-recipe-item>
  </div>
  <ng-template #noRecipes>
    <div class="col-xs-12">
      <h2 style="text-align: center;">please add recipes</h2>
      <a routerLink="/recipes/new">Add new Recipe</a>
    </div>
  </ng-template>
</div>
